/* Adicione aqui seus estilos gerais */

/* Estilos para o Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .sidebar {
    background-color: #1e1e1e;
}